.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 25px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav-right {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 25px;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav-right ul {
    padding-left: 0;
}

.main {
    margin-left: 200px;
    padding: 0 10px;
}

a {
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: normal;
    color: black;
}

article {
    width: 100%;
}

.h2Allign {
    position: relative;
    margin-left: 44%;
    margin-top: 15%;
}

.h2Allign a {
    position: absolute;
    margin-top: -4.6875%;
    margin-left: 12%;
    z-index: 1;
}

.h2Allign a:hover {
    text-decoration: underline;
}

 h2 {
     font: normal normal bold 100px/1.2em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
     width: 510px;
     z-index: 1;
 }

 img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-85%, -50%);
 }

.foot {
    top:83%;
}

li {
    list-style: none;
}

footer {
    display: inline-block;
    position: relative;
    bottom: -485px;
    left: 670px;
}

p {
    text-align: center;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-spacing: 1px;
}

#special {
    height: 30px;
}