header ul {
    margin: 30px 20px 0 20px;
    padding-right: 40px;
}

header ul li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
    color: black;
}

.floatRight {
    float: right;
}

article {
    width: 100%;
}

.h2Allign {
    position: relative;
    margin-left: 45%;
}

.h2Allign a {
    position: absolute;
    margin-top: -4.6875%;
    margin-left: 9%;
    z-index: 1;
}

 h2 {
     font: normal normal bold 100px/1.2em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;

     width: 510px;

     z-index: 1;
 }

 img {
     position: absolute;
     left: 30px;
     transform: translate(76%, -8%);
 }


